---
Url: index.html
Title: "Crono Business Intelligence"
Description: "Crono es la mejor y más fácil herramienta de Business Intelligence. Crono incluye las mejores soluciones de ETL, reporting, cuadros de mando y reporting Excel."
---
<!DOCTYPE html>
<html lang="en">
@Include("layouts\head.cshtml")
@{var ultimos = (from article in Site.Pages orderby article.Date descending select article).Take(5);}
<body class="home">
    <div class="page-caption">
        @Include("layouts\page-header.cshtml")
		<div class="container">
			<h1>Haga que las personas de su empresa puedan acceder a los datos con facilidad</h2>
			<a class="btn">Descubrir</a>
		</div>
    </div>

    <div class="section business-intelligence">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/F6fTBQUyIh8" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-7">
                    <h2>Business intelligence fácil</h2>
                    <p>Crono es una plataforma de Business Intelligence que cubre las necessidades de principio a fin de los proyectos BI. Su principal caracteristica es la facilidad de uso de todos sus productos. Con Crono cualquiera puede consultar o construir soficticados informes o vistosos cuadros de mando</p>
                    <p>Crono es adecuado para pequeños proyectos, proyectos departamentales y también para proyectos corporativos de grandes dimensiones, ya que combina perfectamente la facilidad de uso que espera el usuario de negocio con tods las características técnicas y funcionales que requieren los análisis más avanzados</p>
                </div>
            </div>
        </div>
    </div>

    @Include("layouts/products-boxes.cshtml")

    <div class="section yellow-background download">
        <div class="container">
            <h2>Ten tu empresa al día</h2>
			<div class="row">
				<div class="col-md-7">
					<p>Descarga la versión de evaluación para comprobar lo sencillo que resulta controlar tus indicadores de negocio. Crono es una aplicación moderna y potente y puede ayudarte tanto si quieres analizar las ventas, los stocks, la rentabilidad o cualquier otro KPI de tu negocio.</p>
					<a class="btn btn-right" role="button" href="https://crono-md5.s3.amazonaws.com/CronoAnalytics/CronoAnalysis/Last/CronoAnalysis.msi">Descargar</a>
				</div>
				<div class="col-md-5">
					<img class="img-responsive" src="@Root/images/portatil.jpg" />
				</div>
			</div>
        </div>
    </div>

    <div class="section clients">
        <div class="container">
            <div class="row row-centered">
                <div class="col-md-8 col-centered">
                    <h2>Clientes</h2>
                </div>               
            </div>
			
            <div class="row row-centered">
                <div class="col-md-2 col-centered">
                    <img class="img-responsive" src="@Root/images/clientes/cliente-cronoanalytics_C1.jpg" />
                </div>
                <div class="col-md-2 col-centered">
					<img class="img-responsive" src="@Root/images/clientes/cliente-cronoanalytics_C2.jpg" />
                </div>
                <div class="col-md-2 col-centered">
                    <img class="img-responsive" src="@Root/images/clientes/cliente-cronoanalytics_C3.jpg" />
				</div>
                <div class="col-md-2 col-centered">
					<img class="img-responsive" src="@Root/images/clientes/cliente-cronoanalytics_C4.jpg" />
				</div>
			</div>
            
            <div class="row row-centered">
                <div class="col-md-2 col-centered">
					<img class="img-responsive" src="@Root/images/clientes/cliente-cronoanalytics_C5.jpg" />
				</div>
                <div class="col-md-2 col-centered">
					<img class="img-responsive" src="@Root/images/clientes/cliente-cronoanalytics_C6.jpg" />
				</div>
                <div class="col-md-2 col-centered">
					<img class="img-responsive" src="@Root/images/clientes/cliente-cronoanalytics_C7.jpg" />
				</div>
                <div class="col-md-2 col-centered">
					<img class="img-responsive" src="@Root/images/clientes/cliente-cronoanalytics_C8.jpg" />
				</div>
            </div>
			
            <div class="row row-centered">
                <div class="col-md-2 col-centered">
                    <img class="img-responsive" src="@Root/images/clientes/cliente-cronoanalytics_C9.jpg" />
                </div>
                <div class="col-md-2 col-centered">
                    <img class="img-responsive" src="@Root/images/clientes/cliente-cronoanalytics_C10.jpg" />
                </div>
                <div class="col-md-2 col-centered">
                    <img class="img-responsive" src="@Root/images/clientes/cliente-cronoanalytics_C11.jpg" />
                </div>
                <div class="col-md-2 col-centered">
                    <img class="img-responsive" src="@Root/images/clientes/cliente-cronoanalytics_C12.jpg" />
                </div>
            </div>
            
			<div class="row row-centered">
                <div class="col-md-2 col-centered">
                    <img class="img-responsive" src="@Root/images/clientes/cliente-cronoanalytics_C13.jpg" />
                </div>
                <div class="col-md-2 col-centered">
                    <img class="img-responsive" src="@Root/images/clientes/cliente-cronoanalytics_C14.jpg" />
                </div>
                <div class="col-md-2 col-centered">
                    <img class="img-responsive" src="@Root/images/clientes/cliente-cronoanalytics_C15.jpg" />
                </div>
                <div class="col-md-2 col-centered">
                    <img class="img-responsive" src="@Root/images/clientes/cliente-cronoanalytics_C16.jpg" />
                </div>
            </div>
            
			<div class="row row-centered">
                <div class="col-md-2 col-centered">
                    <img class="img-responsive" src="@Root/images/clientes/cliente-cronoanalytics_C17.jpg" />
                </div>
                <div class="col-md-2 col-centered">
                    <img class="img-responsive" src="@Root/images/clientes/cliente-cronoanalytics_C18.jpg" />
                </div>
            </div>
        </div>
    </div>

    @Include("layouts/footer.cshtml")
    @Include("layouts/scripts.cshtml")
</body>
</html>
