<!DOCTYPE html>
<html lang="en">
@Include("layouts\head.cshtml")
<body>
	<div class="blog">
		@Include("layouts\page-caption.cshtml")
		
		
		
		<div class="site-section-content">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
					@RenderBody()
					</div>
					
					<div class="col-md-4">	
						<div class="sidebar">
							<h3>Seré breve</h3>
							<p>En este blog compartiremos pequeñas reflexiones sobre el mundo de la tecnologia en general y el Bussines Inteligence en particular. Valoramos tu tiempo y por este motivo los articulos serán breves. Lo bueno, si breve, dos veces bueno.</p>
							<p>Suscríbete a nuestra lista de correo con contenido original y exclusivo. Es gratis.</p>
							<a href="http://eepurl.com/cgScH9" class="btn">¡Claro que sí!</a>
							<a href="http://eepurl.com/cgScH9"><img class="img-responsive subscribe-girl" src="@Root/images/subscribe-datawarehouse.png" title="¡Suscríbete!"></a>
						</div>						
					</div>
				</div>
			</div>
		</div>

		@Include("layouts/footer.cshtml")
		@Include("layouts/scripts.cshtml")
	</div>
</body>
</html>
