<!DOCTYPE html>
<html lang="en">
@Include("layouts\head.cshtml")
<body>
	<div class="blog">
		@Include("layouts\header.cshtml")
		
		<div class="page-caption">
			<div class="container">
				<h1>@Page.Title</h1>
				<p>@Page.Description</p>
			</div>
		</div>
		
		<div class="blog-content">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
					@RenderBody()
					</div>
					
					<div class="col-md-4 sidebar">	
						<div>
							<h3>Seré breve</h3>
							<p>En este blog compartiremos pequeñas reflexiones sobre el mundo de la tecnologia en general y el Bussines Inteligence en particular. Valoramos tu tiempo y por este motivo los articulos serán breves. Lo bueno, si breve, dos veces bueno.</p>
						</div>
						<div>
							<p>Suscríbete a nuestra lista de correo con contenido original y exclusivo. Es gratis.</p>
							<a href="http://eepurl.com/cgScH9" class="btn">¡Claro que sí!</a>
							<a href="http://eepurl.com/cgScH9"><img class="img-responsive subscribe-girl" src="@Root/images/subscribe-datawarehouse.png" title="¡Suscríbete!"></a>
						</div>
						<div>
							<h3>Redes sociales</h3>
							<p>Tambien puedes seguirnos en Linkedin , Facebook o Twitter</p>
							<ol class="list-social list-unstyled">
							<li><a href="https://www.linkedin.com/company/businessintelligence"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="https://twitter.com/bifacil"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://www.facebook.com/CronoBusinessIntelligence"><i class="fa fa-facebook"></i></a></li>
							</ol>
						</div>
						<div>
							<h3>Archivo</h3>
							<ol>
							<li><a href="..\blog\archive.html">2016</a></li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>

		@Include("layouts/footer.cshtml")
		@Include("layouts/scripts.cshtml")
	</div>
</body>
</html>
