<!DOCTYPE html>
<html lang="en">
@Include("layouts\head.cshtml")
@{var ultimos = (from article in Site.Pages orderby article.Date descending select article).Take(5);}
<body>
    @Include("layouts\header.cshtml")
    
	<div class="page-caption">
		<div class="container">
		<h1>@Page.Title</h1>
		<p>@Page.Description</p>
		</div>
	</div>
	
    @RenderBody()

    @Include("layouts/footer.cshtml")
    @Include("layouts/scripts.cshtml")
    <script>
        $(document).ready(function () {
            $(".scroll").click(function (event) {
                //bloqueamos la función del anchor original
                event.preventDefault();
                //dirigimos de manera animada al id del anchor
                $('html,body').animate({
                    //le indicamos al scroll vertical que se dirija al objeto con el id
                    //guardado en el anchor a su posición top.
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
</body>
</html>
