<!DOCTYPE html>
<html lang="en">
@Include("layouts\head.cshtml")
@{var ultimos = (from article in Site.Pages orderby article.Date descending select article).Take(5);}
<body>
    @Include("layouts\header.cshtml")
    
	<div class="page-caption">
		<div class="container">
		<h1>@Page.Title</h1>
		<p>@Page.Description</p>
		</div>
	</div>
	
    @RenderBody()

    @Include("layouts/footer.cshtml")
    @Include("layouts/scripts.cshtml")
</body>
</html>
