---
Visible: NO
---


@{
	var HomeClass=(@Page.Url=="index.html")?"active":"";
	var ProductsClass=(@Page.Url=="crono-etl.html"| @Page.Url=="crono-analysis.html" | @Page.Url=="crono-metadata.html")?"active":"";
	var ServicesClass=(@Page.Url=="crono-servicios.html")?"active":"";
	var PricesClass=(@Page.Url=="crono-precios.html")?"active":"";
	var ContactClass=(@Page.Url=="crono-contacto.html")?"active":"";
	var BlogClass=(@Page.Url.StartsWith("blog"))?"active":"";
}
<!-- HEADER -->
<noscript>
	<div class="javascript-required">
		<i class="fa fa-times-circle"></i> Parece que tienes JavaScript desactivado. Este sitio web necesita JavaScript para funcionar correctamente!
	</div>
</noscript>

<!--[if lte IE 8]>
	<div class="modern-browser-required">You are using an <strong>outdated</strong> browser. Please <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">upgrade your browser</a> to improve your experience.</div>
<![endif]-->

<div class="sections-header">
	<div class="header-left-part">
		<a class="header-divider" href="index.html"><img src="@Root/images/logo-white.png" /></a>
	</div>
	<div class="header-right-part">
		<a class="@HomeClass" href="@Root/index.html">Inicio</a>
		<a class="@ProductsClass" href="@Root/crono-analysis.html">Productos</a>
		<a class="@PricesClass" href="@Root/crono-precios.html">Precios</a>
		<a class="@ContactClass" href="@Root/soporte/index.html">Soporte</a>
		<a class="@BlogClass" href="@Root/blog/index.html">Blog</a>
		<a class="btn @ContactClass" href="@Root/crono-contacto.html">Contacto</a>
	</div>
</div>