<!DOCTYPE html>
<html lang="en">
@Include("layouts\head.cshtml")
<body>
	<div class="support">
		@Include("layouts\page-caption.cshtml")
		<div class="site-section-content">
			@RenderBody()
		</div>
		@Include("layouts/footer.cshtml")
		@Include("layouts/scripts.cshtml")
	</div>
</body>
</html>
